@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');
* {
	font-family: 'Noto Sans KR', sans-serif;
}
@media only screen and (max-width: 1024px) {
	.container {
		margin: 1rem !important;
	}
}

body {
    margin-bottom: 50px;
}

code, .token, .keyword {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace ;
}
